// Specific CSS for your home-page
a {
  color: red;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration:none;
  color: darkblue;
}

.page {
  width: 100%;
  min-height: 90vh;
  background-color: ghostwhite;

}
.ambiance-text {
  padding: 2% 10%;
  font-style: italic;
  line-height: 1.8em;
}
.choice-title {
  font-weight: bolder;
  font-size: 24px;
  padding: 2%;
}
.choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.choice {
  flex: 1 0;
  padding: 0.5%;
  border: blanchedalmond solid 1px;
  border-radius: 5px;
  margin: 0 15px;
  text-align: -webkit-center;
}
h1 {
  margin: 0;
}
.center {
  text-align: center;
}
body {
  color: rgb(20, 20, 20);
}
.titles {
  padding: 3%;
}
