<div class="titles center">
  <h1>Now you need to decide which quest you'll follow.</h1>
</div>
<div class="ambiance-text">
  <p>When you were walking, a lot of peasants asked you for some help; of course, you said now, since you wanted to fight for fame, glory and to help REAL people (and also for gold, but nobody has to know).
  After a couple of days wandering with your newly acquired weapon (or no weapon if you're a man), you realize you'll definitely need that gold, and tant pis for the glory and fame. You start considering your options...</p>
</div>
<div class="choice-title center">
  <p>Which Quest will you follow?</p>
</div>
<div class="choices">
  <div class="choice">
    <p>Planting corn seeds nearby a dark swamp</p>
  </div>
  <div class="choice">
    <p>cutting trees in a thick forest</p>
  </div>
  <div class="choice">
    <p>guarding the brothel</p>
  </div>
  <div class="choice">
    <p>begging for money</p>
  </div>
</div>

