<div class="titles center">
  <h1>Welcome, Heros!</h1>
  <h2>We were waiting for you...</h2>
</div>
<div>
  <p>You'll face many challenges during your quest, and only a sharp mind, a keen eye, quick reflexes and strong strikes will allow you to get out of it alive and victorious.</p>
  <p>So behold! Now is the time to take your first decision...</p>
  <div class="choice-title">
    <p>Choose a weapon: </p>
  </div>
  <div class="choices">
    <a href="#" class="choice">Magic Scepter</a>
    <a href="#" class="choice">Bow and Arrows</a>
    <a href="#" class="choice">Small Sharp Knives</a>
    <a href="#" class="choice">Big Double Edges Sword</a>
    <a href="#" class="choice">No weapon, my mind is the weapon</a>
  </div>
</div>
