<div class="titles center">
  <h1>On your way to achieve your mighty but shamefull quest...</h1>
</div>
<div class="ambiance-text">
  <p>You come accross a shady stranger, who offers you to look at some of the camelote he has, he thinks you're handsome, and wants your honest legendary warrior opinion about a powerful relic he recently acquired. You so follow him, and as you arrive near his carriage, he opens his cape and your gaze is capted by a strange blue mirror... and you feel like you can't resist, you dive into the mirror.</p>
  <p>You just have time to grab something from the world you are before jumping into the Unknown</p>

</div>
<div class="choice-title center">
  <p>What item will you take with you?</p>
</div>
<div class="choices">
  <div class="choice">
    <p>the Merchant's gold, hanging by his belt</p>
  </div>
  <div class="choice">
    <p>A handful of grass and dirt, it's all you need</p>
  </div>
  <div class="choice">
    <p>A random jewellry from the Merchant's pocket</p>
  </div>
  <div class="choice">
  <%= link_to "The shady merchant himself", unknow_path %>
  </div>
</div>
