<div class="footer">
  <div class="credits">
    <p>test</p>
  </div>
  <div class="contact">
    <p>contact: </p>
    <p>pierretienne.soury@gmail.com</p>
  </div>
  <div class="contact">
    <p>made with love by <a href="http://pesoury.xyz">Pierre-Etienne Soury</a></p>
  </div>
</div>
